$white: #ffffff;
$black: #2d2d2d;
$blue: #3670c7;
$gray: #8f8f8f;
$dark-gray: #525252;
$red: #ff0000;
$light-gray: #efefef;
$orange: #ffbd13;

$blue-focus: #3B65A5;
$blue-hover:#5D92E0;

$laptop: 1440px;
$tablet: 950px;
$mobile: 640px;

$radius: 20px;

// шаблон
%titleFooter {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: inherit;
}

%promoCardDiscount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  font-size: 30px;
  border-radius: 50%;
  background-color: $orange;
}

%promoCardText {
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  color: $white;
}

%displayFlex {
  position: relative;
  display: flex;
  align-items: end;
}

%background {
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
  };
}

// подключение шаблона
// .selector {
//   @extend %titleSecond
// }
