
.header {
  padding-bottom: 25px;
}

.header__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 700;
  
}

.header__nav {
  padding-top: 50px;
}

.header__list {
  margin: 0;
  padding-left: 16px;
  font-size: 16px;
  color: #525252;
}

.header__link {
  color: inherit;
  text-decoration: none;
}
