.article-page {
  padding-top: 30px;
  padding-bottom: 150px;
  flex: 1 1 auto;
}
.article-container {
  display: grid;
  grid-template-columns: 1fr 532px;
  grid-template-rows: minmax(21px, min-content) min-content minmax(min-content, 1fr);
  grid-template-areas: 
    'header header'
    'article aside'
    'footer aside';
    gap: 80px;
}

.article-main {
  grid-area: article;
  margin-bottom: 20px;
}

.article-main__container {
  max-width: 1095px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.article-main__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: var(--second-color,#2D2D2D);
}

.article-main__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--second-color,#2D2D2D);
  margin-bottom: 33px;
}

.article-main__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 1440px) {
  .article-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
      'header'
      'article'
      'footer'
      'aside';
      gap: 50px;
      padding: 100px 0;
  }

  .article-container {
    max-width: 1340px;
  }
}

@media (max-width: 980px) {
  .article-container {
      gap: 30px;
      padding: 80px 0;
  }

  .article-container {
    gap: 20px;
  }

  .article-main__title {
    font-size: 32px;
  }

  .article-main__text {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

@media (max-width: 640px) {
  .article-container {
      gap: 30px;
      padding: 40px 0;
  }

  .article-container {
    gap: 15px;
  }

  .article-main__title {
    font-size: 26px;
  }

  .article-main__text {
    font-size: 12px;
    margin-bottom: 18px;
  }
}