
.article-footer {
  /* grid-area: footer; */
}

.article-footer__container {
  /* flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}

.article-footer__navigation {
  /* display: flex;
  flex-wrap: nowrap;
  flex-direction: row; */
}

.article-footer__link {
  /* font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--second-color,#2D2D2D);
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 
    color .3s ease-in-out,
    border-bottom-color .3s ease-in-out,
    transform .6s ease-in-out;
  outline: none;
  border-bottom: 2px solid transparent; */
}

.article-footer__link::before {
  /* content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background: url('../img/blog/backspace.svg') center no-repeat;
  transition: background-image .3s ease-in-out; */
}

.article-footer__link:hover {
  /* color: var(--blue-color, #3670c7); */
}

.article-footer__link:hover::before {
  /* background-image: url('../img/blog/backspaceblue.svg'); */
}

.article-footer__link:focus {
  /* border-bottom-color: var(--gray-dark, #525252); */
}

.article-footer__link:active {
  /* transform: rotateY(360deg); */
}

.article-footer__development {
  /* display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px; */
}

.article-footer__author {
  /* margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--black-color, #000000); */
}

.article-footer__date {
  /* font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray-color, #8F8F8F); */
}

.article-footer__count-wrapper {
  /* display: flex;
  justify-self: end;
  align-self: start;
  gap: 25px; */
}

.article-footer__views-link {
  /* display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray-color, #8F8F8F);
  transition: 
    color .3s ease-in-out,
    border-bottom-color .3s ease-in-out,
    transform .6s ease-in-out;
  outline: none;
  border-bottom: 2px solid transparent; */

}
.article-footer__views-icon {
  /* width: 24px;
  height: 24px; */
}

.article-footer__views-link:hover {
  /* color: var(--blue-color); */
}

.article-footer__views-link:focus {
  /* border-bottom-color: var(--gray-color, #8F8F8F); */
}

.article-footer__views-link:active {
  /* transform: scale(1.2); */
}


.article-footer__views-icon {
  /* width: 24px;
  height: 24px; */
}

@media (max-width: 980px) {
  .article-footer__development {
    /* gap: 10px; */
  }

  .article-footer__author {
    /* font-size: 16px; */
  }

  .article-footer__date {
    /* font-size: 12px; */
  }

  .article-footer__count-wrapper {
    /* gap: 15px; */
  }
  
  .article-footer__views-link {
    /* font-size: 12px; */
  }
  
  .article-footer__views-icon {
    /* width: 16px;
    height: 16px; */
  }
}

@media (max-width: 640px) {
  .article-footer__development {
    gap: 10px;
  }

  .article-footer__author {
    /* font-size: 12px; */
  }

  .article-footer__date {
    /* font-size: 12px; */
  }

  .article-footer__count-wrapper {
    /* gap: 10px; */
  }
  
  .article-footer__views-link {
    font-size: 12px;
  }
  
  .article-footer__views-icon {
    width: 16px;
    height: 16px;
  }
}