.blog-page {
  /* flex: 1 1 auto; */
}

.blog {
  /* padding-top: 40px;
  padding-bottom: 150px;
  max-width: 1920px;
  margin: 0 auto; */
}

.blog__container {
  /* padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 100px; */
}

.blog__list {
  /* max-width: 1433px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(195px , max-content);
  justify-content: space-between;
  gap: 80px; */
}


@media (max-width: 1440px) {
  .blog__container {
    /* padding: 0 40px;
    gap: 50px; */
  }

  .blog__list {
    /* grid-template-columns: 1fr;
    grid-auto-rows: minmax(195px , max-content);
    gap: 40px; */
  }
}

@media (max-width: 1200px) {
  .blog__container {
    /* padding: 0 30px;
    gap: 50px; */
  }

  .blog__list {
    /* grid-template-columns: 1fr;
    grid-auto-rows: minmax(195px , max-content);
    gap: 30px; */
  }
}

@media (max-width: 780px) {
  .blog__container {
    /* padding: 0 30px;
    gap: 30px; */
  }

  .blog__list {
    /* grid-auto-rows: minmax(135px , max-content);
    gap: 15px; */
  }
}



