:root {
  --main-color: #ffffff;
  --second-color: #2d2d2d;

  --main-bg-color: #efefef;
  --gray-color: #8f8f8f;
  --blue-color: #3670c7;
  --orange-color: #FFBD13;
  --pink-color: #F91155;


  --black-color: #000000;
  /* --main-bg-color: #E5E5E5; */
  --gray-dark: #525252;

}

