.blog-pagination {
  padding-top: 50px;

  display: flex; 
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  max-width: max-content;
  margin: 0 auto;

  @include laptop {

  }
  
  @include tablet {
  
  }
  
  @include mobile {
    gap: 20px;
  }


  .blog-pagination__link {
    line-height: 0;
    color: $blue;

    @include laptop {

    }
    
    @include tablet {
    
    }
    
    @include mobile {
    
    }
  }

  .blog-pagination__link_disabled {
    color: $gray;

    @include laptop {

    }
    
    @include tablet {
    
    }
    
    @include mobile {
    
    }
  }

  .blog-pagination__list {
    display: flex;
    gap: 6px;

    @include laptop {

    }
    
    @include tablet {
    
    }
    
    @include mobile {
    
    }
  }

  .blog-pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    min-height: 36px;
    border: 2px solid $black;
    border-radius: 4px;

    font-size: 16px;
    line-height: 130%;
    color: $black;

    @include laptop {

    }
    
    @include tablet {
    
    }
    
    @include mobile {
      min-width: 24px;
      min-height: 24px;
      font-size: 14px;
    }
  }

  .blog-pagination__item_active {
    border-color: $blue;

    @include laptop {

    }
    
    @include tablet {
    
    }
    
    @include mobile {
    
    }
  }
}