.header {
  padding-top: 27px;
  padding-bottom: 30px;

  @include laptop {
    padding-top: 34px;
    padding-bottom: 30px;
  }

  @include tablet {
    padding-top: 25px;
    padding-bottom: 24px;
  }

  @include mobile {
    padding-top: 21px;
    padding-bottom: 16px;
  }

  &__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 190px 151px 757px 354px;
    grid-template-rows: min-content;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: "logo menu search nav";
    background-color: $white;

    @include laptop {
      grid-template-columns: 3fr 5fr 4fr;
      grid-template-rows: min-content min-content;
      grid-template-areas: 
        "logo logo nav"
        "menu search search";
      row-gap: 29px;
    }
  
    @include tablet {
      grid-template-columns: 2fr 4fr 3fr;
      row-gap: 26px;
    }
  
    @include mobile {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 0;
      grid-template-areas: 
        "logo ."
        "menu nav"
        "search search";
      align-items: self-end;
      height: 125px;
    }
  }
  
  &__logo {
    grid-area: logo;
    padding: 13px 0 7px;
    color: $black;

    @include laptop {
      max-width: 190px;
      padding-bottom: 8px;
    }
  
    @include tablet {
      max-width: 165px;
      height: 36px;
      align-self: center;
      padding: 5px 0;
    }
  
    @include mobile {
      max-width: 114px;
      height: 29px;
      align-self: flex-start;
    }
  }
  
  &__btn-menu {
    position: relative;
    justify-self: center;
    grid-area: menu;
    max-width: 151px;
    padding: 10px 32px 11px 58px;
    font-size: 22px;
    line-height: 150%; 
    color: $white;
    background-color: $blue;
    border: none;
    border-radius: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      width: 24px;
      height: 24px;
      background-image: url('../img/sort.svg');
      background-repeat: no-repeat;

      @include tablet {
        left: 21px;
      }
    
      @include mobile {
        left: 14px;
        height: 16px;
        width: 16px;
        background-size: contain;
      }
    }

    @include laptop {
      justify-self: unset;
      padding-left: 60px;
    }
  
    @include tablet {
      max-width: 115px;
      padding: 8px 22px 10px 49px;
      font-size: 16px;
      border-radius: 6px;
    }
  
    @include mobile {
      max-width: 79px;
      align-self: flex-start;
      padding: 7px 14px 7px 31px;
      font-size: 12px;
      border-radius: 4px;
    }
  }
  
  &__form {
    grid-area: search;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    align-self: center;
    max-width: 757px;

    @include mobile {
      align-self: flex-end;
    }
  }
  
  &__navigation {
    width: 100%;
    justify-self: end;
    grid-area: nav;
    max-width: 354px;
    padding-left: 1px;

    @include tablet {
      align-self: flex-start;
    }
  }
  
  &__nav-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;

    @include laptop {
      max-width: 294px;
      column-gap: 40px;
    }
  
    @include tablet {
      max-width: 221px;
      gap: 30px;
    }
  
    @include mobile {
      max-width: 130px;
      align-items: center;
      gap: 19px;
    }
  }
  
  &__nav-item {
    text-align: center;
    width: 100%;

    &:nth-child(2) {
      justify-self: center;
    }

    &:last-child {
      justify-self: end;
    }
  
    @include tablet {
      position: relative;
    }
  
    @include mobile {
      padding: 0;
      line-height: 0;
    }
  }
}


// @include laptop {

// }

// @include tablet {

// }

// @include mobile {

// }
