$white: #ffffff;
$black: #2d2d2d;
$blue: #3670c7;
$gray: #8f8f8f;
$dark-gray: #525252;
$red: #ff0000;
$light-gray: #efefef;
$orange: #ffbd13;

$blue-focus: #3B65A5;
$blue-hover:#5D92E0;

$laptop: 1440px;
$tablet: 950px;
$mobile: 640px;

$radius: 20px;

// @include laptop {
//   $radius: 16px;
// }

// @include tablet {
//   $radius: 12px;
// }

// @include mobile {
//   $radius: 8px;
// }

// шаблон
%titleFooter {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: $white;
}

%promoCardDiscount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  font-size: 30px;
  border-radius: 50%;
  background-color: $orange;
}

%promoCardText {
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  color: $white;
}

%displayFlex {
  position: relative;
  display: flex;
  align-items: end;
}

// подключение шаблона
// .selector {
//   @extend %titleSecond
// }

@mixin font($name, $weigth) {
  font: {
    famaly: $name;
    weight: $weigth;
    display: swap;
  }
  src: url("../fonts/#{ $name }-#{ $weigth }.woff2") format("woff2"),
    url("../fonts/#{ $name }-#{ $weigth }.woff") format("woff");
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

