$white: #ffffff;
$black: #2d2d2d;
$blue: #3670c7;
$gray: #8f8f8f;
$dark-gray: #525252;
$red: #ff0000;
$light-gray: #efefef;
$orange: #ffbd13;

$blue-focus: #3B65A5;
$blue-hover:#5D92E0;

$laptop: 1440px;
$tablet: 950px;
$mobile: 640px;

// шаблон
%titleFooter {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: $white;
}

// подключение шаблона
// .selector {
//   @extend %titleSecond
// }

@mixin font($name, $weigth) {
  font: {
    famaly: $name;
    weight: $weigth;
    display: swap;
  }
  src: url("../fonts/#{ $name }-#{ $weigth }.woff2") format("woff2"),
    url("../fonts/#{ $name }-#{ $weigth }.woff") format("woff");
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

